#chat-container(class="row")
 .row(id="feed-container")
   .col-sm-10(id="feed")
 .row(id="console-container")
  .col-sm-10(id="console")
   input#chat-console(class="bare-top bare-bottom" type="text" name="message" autofocus)
